body {
  background: lightblue;
  text-align: center;
  font-size: large;
  margin-top: 5%;
  margin-bottom: 10%;
}

h1 {
  color: black;
  background-color: white;
  width: 330px;
  height: 40px;
  margin-left: 500px;
  padding: 40px;
  border-block-end-color: 50px;
  border: 10px solid black;
  font-size: -webkit-xxx-large;
}

li {
  padding: 5px;
  margin: 8px;
  width: max-content;
  display: inline-block;
  background: lightblue;
  font-size: x-large;
}
#addBurger {
  background-color: white;
  color: black;
  box-shadow: 5px 3px 0px 0px black;
  text-shadow: 0 0 black;
  font-size: x-large;
}
